@page "/"
@inject IArtistApiService ArtistService;



@if (error == null)
{
    if (currentArtist == null)
    {
        <ArtistList Artists="Artists"
                    OnDetails="ShowDetails">
        </ArtistList>
    }
    else
    {
        <ArtistDetails Artist="currentArtist"></ArtistDetails>
    }

}
else
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

<Registration />






@code{

    public IEnumerable<Artist> Artists { get; set; }
    public string error { get; set; }
    private Artist currentArtist;    



    protected override async Task OnInitializedAsync()
    {
        await RefreshCategories();
    }

    public async Task RefreshCategories()
    {

        var result = await ArtistService.GetAllAsync();
        if (result.IsSucces) Artists = result.Items;
        else error = result.Error;

    }

    public void ShowDetails(Artist artist)
    {
        this.currentArtist = artist;
    }


}