@page "/"
@inject ICRUDService<Artist> ArtistService;

    @if (Artists != null)
    {
        if (currentArtist == null)
        {
            <ArtistList Artists="Artists"
                        OnDetails="ShowDetails">

            </ArtistList>
        }
        else
        {
            <p>SomeDetails</p>
        }

    }
    else
    {
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }






@code{

    public IEnumerable<Artist> Artists { get; set; }
    private Artist currentArtist;



    protected override async Task OnInitializedAsync()
    {
        await RefreshCategories();
    }

    public async Task RefreshCategories()
    {

        Artists = await ArtistService.GetAllAsync();

    }

    public void ShowDetails(Artist artist)
    {
        this.currentArtist = artist;
    }
}