<h3 class="mb-5">ArtistList</h3>

<div class="d-flex justify-content-between">
    @foreach (var artist in Artists)
    {
        <div class="card artist-card" @onclick="e => OnDetails.InvokeAsync(artist)">
            <div class="card-body">

                <img src="@artist.Image" title="@artist.Name" alt="@artist.Name" />

            </div>
            <div class="card-footer">
                <p>@artist.Name</p>
            </div>
        </div>
    }
 </div>


    @code {
        [Parameter]
        public IEnumerable<Artist> Artists { get; set; }
        [Parameter]
        public EventCallback<Artist> OnDetails { get; set; }
    }
